@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');
@import url('./bootstrap.css');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFF8EE;
    position: relative;
    min-height: 100vh;
    padding-bottom: 51rem;
}

@media (min-width: 576px) {
    body {
        padding-bottom: 35rem;
    }
}

@media (min-width: 768px) {
    body {
        padding-bottom: 25rem;
    }
}

@media (min-width: 992px) {
    body {
        padding-bottom: 20rem;
    }
}

/*------------------------------------- home */
.jumbotron-poster {
    margin: 5vw;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.category-card {
    width: 18%;
    color: #000;
    text-decoration: none;
}

.category-card:hover {
    color: #555;
}

.category-card p {
    font-size: 3vw;
    margin-top: 2vw;
    font-weight: bold;
    text-align: center;
}

.recommendations {
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #fff;
}

.recommend-product {
    margin-top: 5rem;
    padding: 3rem;
}

@media (min-width: 426px) {
    .jumbotron-poster {
        margin: 3rem;
    }

    .category-card p {
        font-size: 1rem;
        margin-top: 1rem;
    }
}

@media (min-width: 769px) {
    .category-card p {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
}

@media (min-width: 992px) {
    .category-card p {
        font-size: 1.7rem;
    }
}

/*------------------------------------- forms */
.form-required::after {
    font-weight: bold;
    content: " *";
    color: red;
}

.form-center {
    position: relative;
}

.form-center form {
    margin-top: 5rem;
}

.form-center button {
    padding: 1rem 0;
    width: 100%;
}

@media (min-width: 768px) {
    .form-center {
        height: 100vh;
    }

    .form-center form {
        position: absolute;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form-center button {
        padding: 0.5rem 3rem;
        width: unset;
    }
}

/*------------------------------------- sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #212529;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 275px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    padding: 0;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #212529;
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #212529;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

/*------------------------------------- footer */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*------------------------------------- users */
.dashboard-nav {
    list-style-type: none;
}

.wishlist-remove {
    width: 100%;
    padding: 1rem;
}

@media (min-width: 992px) {
    .wishlist-remove {
        width: initial;
        position: absolute;
        top: 0;
        right: 0;
    }
}

/*------------------------------------- product photo */
.prod-photos {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.prod-photos img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
