@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('./bootstrap.css');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ddd;
}

/*------------------------------------- home */
.jumbotron-poster {
    margin: 5vw;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.category-card {
    width: 18%;
    color: #000;
    text-decoration: none;
}

.category-card:hover {
    color: #555;
}

.category-card p {
    font-size: 3vw;
    margin-top: 2vw;
    font-weight: bold;
    text-align: center;
}

.recommendations {
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #fff;
}

@media (min-width: 426px) {
    .jumbotron-poster {
        margin: 3rem;
    }

    .category-card p {
        font-size: 1rem;
        margin-top: 1rem;
    }
}

@media (min-width: 769px) {
    .category-card p {
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
}

@media (min-width: 992px) {
    .category-card p {
        font-size: 1.7rem;
    }
}

/*------------------------------------- forms */
.form-required::after {
    font-weight: bold;
    content: " *";
    color: red;
}

.form-center {
    position: relative;
}

.form-center form {
    margin-top: 5rem;
}

.form-center button {
    padding: 1rem 0;
    width: 100%;
}

@media (min-width: 768px) {
    .form-center {
        height: 100vh;
    }

    .form-center form {
        position: absolute;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form-center button {
        padding: 0.5rem 3rem;
        width: unset;
    }
}

/*------------------------------------- users */
.dashboard-nav {
    list-style-type: none;
}

.wishlist-remove {
    width: 100%;
    padding: 1rem;
}

@media (min-width: 992px) {
    .wishlist-remove {
        width: initial;
        position: absolute;
        top: 0;
        right: 0;
    }
}
